body{
    font-family: 'JelleeBold';
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
}

.left{
    width: 45dvw;
    height: 100%;

    
}

.image{
    width: calc(45dvw + 150px);
    height: 100%;

    background-size:cover;
    background-image: url(images/S15.jpg);

    position: relative;
    left: -150px;
}

.poster{

    height: 50px;
    width: 50px;
    overflow: hidden;
    border: 10px solid #a31010;
    background-image: url(images/spainPoster.jpg);
}



.right {
    width: 60dvw;
    background-color: #ededed;
    
}

.text{
    padding: 10px 40px;
    margin-top: 20px;
}

fieldset{
    background-color: #fff;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ;
}

legend{
    position: relative;
    top: 20px;
    margin: 0 70px ;
}
.row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}

label{
    font-size: 0.7rem;
}

input, label{
    margin: 0 50px;
}

input:invalid{
    outline: none;
    border: 2px solid #a31010;
}

input:valid{
    outline: none;
    border: 2px solid #2ca82e;
}

input:focus{
    outline: none;
    border: 2px solid #4d4fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ;
}

input::after{
    border: none;
}

button{
    padding: 15px 20px;
    background-color: #6eccb3;
    border-radius: 10px;
}
.button{
    margin: 20px;

}